<section>
    <h3>{{::addressCtrl.title}}</h3>
    <table>
        <tr>
            <td>Address Line1</td>
            <td><input type="text" size="50" ng-model="addressCtrl.address.address1"></input></td>
        </tr>
        <tr>
            <td>Address Line2</td>
            <td><input type="text" size="50" ng-model="addressCtrl.address.address2"></input></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" size="50" ng-model="addressCtrl.address.city"></input></td>
        </tr>
        <tr>
            <td>State</td>
            <td><input type="text" size="50" ng-model="addressCtrl.address.state"></input></td>
        </tr>
        <tr>
            <td>Zip</td>
            <td><input type="text" size="50" ng-model="addressCtrl.address.zip"></input></td>
        </tr>
    </table>
</section>