*
 margin 0
 padding 0
 box-sizing border-box

html, body
  height 100%

body
  font-family 'Lucida Grande', verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding 10px
  font-size 15px
  font-style normal
  font-variant normal
  font-weight normal
  background-color #E6ECF1
  color #333


body > header
    padding 30px 20px

    &:before
      content: '';
      width 10px;
      background-color #00AEEF;
      float left;
      height 50px;
      margin-right 5px;

body > footer
    font-size 12px
    font-style italic
    margin 10px 25px


.itemlist
  height 100px
  padding 20px
  margin 10px


.item
  border-radius 50%
  border 1px solid #000
  width 60px
  height 60px
  display inline-block
  padding 19px 0 0 23px
  margin 15px
  font-weight bold
  background-color: transparent;
  -transition: background-color 200ms ease-in, border 2s ease-out
  -webkit-transition: background-color 200ms ease-in, border 2s ease-out

  &.highlight
    border 3px dashed #018E8E

  &.marker_1
    background-color #D89858

  &.marker_2
    background-color #75EA7F

  &.marker_3
    background-color #ce0e91

  &.marker_4
    background-color #8eede9

  &.marker_5
    background-color #c7d664

  &.marker_6
    background-color #fcb79f

  &.marker_7
    background-color #a985d3

  &.marker_8
    background-color #e56276

  &.marker_9
    background-color #ffeea5






