<section class="control-panel">
    <h1>AngularJS Perf Test</h1>
    <section class="stats clearfix">
      <div id="stats_rps" class="rps"></div>
      <div id="stats_ms" class="ms"></div>
    </section>
    <section class="counts clearfix">
      <div class="dom">
        <h6>DOM Count</h6>
        <div id="stats_dom_count"></div>
      </div>
      <div class="tickers">
        <h6>Tickers</h6>
        <div id="stats_ticker_count"><ticker-count count="$ctrl.tickerDataService.getTickerCount()"></ticker-count></div>
      </div>
    </section>
    <section class="add-tickers action">
      <div class="title">Add Tickers</div>
      <button ng-click="$ctrl.startAddingTickers()" ng-disabled="!$ctrl.controlPanelService.options.addTickersEnabled">Start</button>
      <button ng-click="$ctrl.stopAddingTickers()" ng-disabled="$ctrl.controlPanelService.options.addTickersEnabled">Stop</button>
      <div class="frequency">
        <span class="sub-title noselect">Add Interval:&nbsp;</span>
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.controlPanelService.changeAddTickerInterval($ctrl.controlPanelService.options.addTickerIntervalMSec - 20)"></i>
        <span  class="noselect">{{$ctrl.controlPanelService.options.addTickerIntervalMSec}}ms</span>
        <i class="fa fa-plus" aria-hidden="true" ng-click="$ctrl.controlPanelService.changeAddTickerInterval($ctrl.controlPanelService.options.addTickerIntervalMSec + 20)"></i>
      </div>
    </section>
    <section class="update-prices action">
      <div  class="title">Change Values</div>
      <button ng-click="$ctrl.startUpdatingTickers()" ng-disabled="!$ctrl.controlPanelService.options.updateValuesEnabled">Start</button>
      <button ng-click="$ctrl.stopUpdatingTickers()" ng-disabled="$ctrl.controlPanelService.options.updateValuesEnabled">Stop</button>
      <div class="frequency">
        <span  class="sub-title noselect">Update Interval:&nbsp;</span>
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.controlPanelService.changeUpdateTickerInterval($ctrl.controlPanelService.options.updateValueIntervalMSec - 20)"></i>
        <span class="noselect">{{$ctrl.controlPanelService.options.updateValueIntervalMSec}}ms</span>
        <i class="fa fa-plus" aria-hidden="true" ng-click="$ctrl.controlPanelService.changeUpdateTickerInterval($ctrl.controlPanelService.options.updateValueIntervalMSec + 20)"></i>
      </div>
    </section>
</section>