<section class="control-panel">
    <h1>AngularJS Perf Test</h1>
    <section class="stats clearfix">
      <div class="stat-item">
        <div id="stats_rps" class="rps"></div>
        <i class="fa fa-info-circle stats_rps" title="Number of frames rendered in the last second(fps). App is more responsive when fps is higher. (https://github.com/mrdoob/stats.js)"></i>
      </div>
      <div class="stat-item">
        <div id="stats_ms" class="ms"></div>
        <i class="fa fa-info-circle" title="Time to render the last frame (msec). Lower values are better. (https://github.com/mrdoob/stats.js)"></i>
      </div>
      <div class="stat-item">
        <div id="stats_memory" class="mem"></div>
        <i class="fa fa-info-circle" title="Allocated memory in MB. Open Chrome with --enable-precise-memory-info to get precise informarion. (https://github.com/mrdoob/stats.js)"></i>
      </div>
    </section>
    <section class="counts clearfix">
      <div class="tickers">
        <h6>Tickers</h6>
        <div id="stats_ticker_count"><ticker-count count="$ctrl.tickerDataService.getTickerCount()"></ticker-count></div>
      </div>
      <div class="dom">
        <h6>DOM Count</h6>
        <div id="stats_dom_count"></div>
      </div>
    </section>
    <section class="replace-tickers action">
      <div class="title">Simulate Switching views</div>
      <button ng-click="$ctrl.onStartAction($ctrl.controlPanelActionType.Replace)" ng-disabled="!$ctrl.controlPanelService.options.replaceTickersEnabled">Start</button>
      <button ng-click="$ctrl.onStopAction($ctrl.controlPanelActionType.Replace)" ng-disabled="$ctrl.controlPanelService.options.replaceTickersEnabled">Stop</button>
      <div class="frequency">
        <span class="sub-title noselect">Interval:&nbsp;</span>
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Replace, false)"></i>
        <span  class="noselect">{{$ctrl.controlPanelService.options.replaceTickerIntervalMSec}}ms</span>
        <i class="fa fa-plus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Replace, true)"></i>
      </div>
    </section>
    <section class="add-tickers action">
      <div class="title">Simulate Adds</div>
      <button ng-click="$ctrl.onStartAction($ctrl.controlPanelActionType.Add)" ng-disabled="!$ctrl.controlPanelService.options.addTickersEnabled">Start</button>
      <button ng-click="$ctrl.onStopAction($ctrl.controlPanelActionType.Add)" ng-disabled="$ctrl.controlPanelService.options.addTickersEnabled">Stop</button>
      <div class="frequency">
        <span class="sub-title noselect">Interval:&nbsp;</span>
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Add, false)"></i>
        <span  class="noselect">{{$ctrl.controlPanelService.options.addTickerIntervalMSec}}ms</span>
        <i class="fa fa-plus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Add, true)"></i>
      </div>
    </section>
    <section class="update-prices action">
      <div  class="title">Simulate Updates</div>
      <button ng-click="$ctrl.onStartAction($ctrl.controlPanelActionType.Update)" ng-disabled="!$ctrl.controlPanelService.options.updateValuesEnabled">Start</button>
      <button ng-click="$ctrl.onStopAction($ctrl.controlPanelActionType.Update)" ng-disabled="$ctrl.controlPanelService.options.updateValuesEnabled">Stop</button>
      <div class="frequency">
        <span  class="sub-title noselect">Interval:&nbsp;</span>
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Update, false)"></i>
        <span class="noselect">{{$ctrl.controlPanelService.options.updateValueIntervalMSec}}ms</span>
        <i class="fa fa-plus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Update, true)"></i>
      </div>
    </section>
    <section class="delete-prices action">
      <div  class="title">Simulate Deletes</div>
      <button ng-click="$ctrl.onStartAction($ctrl.controlPanelActionType.Delete)" ng-disabled="!$ctrl.controlPanelService.options.deleteTickersEnabled">Start</button>
      <button ng-click="$ctrl.onStopAction($ctrl.controlPanelActionType.Delete)" ng-disabled="$ctrl.controlPanelService.options.deleteTickersEnabled">Stop</button>
      <div class="frequency">
        <span  class="sub-title noselect">Interval:&nbsp;</span>
        <i class="fa fa-minus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Delete, false)"></i>
        <span class="noselect">{{$ctrl.controlPanelService.options.deleteTickerIntervalMSec}}ms</span>
        <i class="fa fa-plus" aria-hidden="true" ng-click="$ctrl.onChangeInterval($ctrl.controlPanelActionType.Delete, true)"></i>
      </div>
    </section>
</section>