@import 'nib'

support-for-ie = false
vendor-prefixes = webkit

@import "stylus/colors"
@import "stylus/common"
@import "stylus/reset"

body
    color screen-font-color
    background-color screen-background

@import "js/app"