.control-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #bad6ce;
  padding: 10px 0 0 10px

  h1 {
    font-size: 16px;
  }

  .stats > div{
    padding: 20px 15px 0 0;
    float: left;
  }

  .counts .dom, .counts .tickers {
    margin: 20px 0 0 0;
    padding: 5px 0 5px 0;
    text-align: center;
    float: left;
    width: 80px;
    height: 50px;
    font-size: 1em;
    background-color: black;
    color:#13DFE2;
  }

  .counts .tickers {
    margin-left: 15px;
    color:lightgreen;
  }

  .action {
    margin: 20px 0 0 0;

    .title {
      font-size: 1em;
      font-weight: bold;
      margin: 10px 0;
    }

    button {
      margin: 0 10px 0 0;
      width: 60px;
    }

    .frequency {
      margin: 10px 0 0 0;
      font-size: 0.9em;
    }

    .frequency i.fa {
      padding: 0 10px;
    }
  } //.action
} //.control-panel

