*
 margin 0
 padding 0
 box-sizing border-box

html, body
  height 100%

body
  font-family 'Lucida Grande', verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding 10px
  font-size 15px
  font-style normal
  font-variant normal
  font-weight normal
  background-color #E6ECF1
  color #333


body > header
    padding 30px 20px

    &:before
      content: '';
      width 10px;
      background-color #00AEEF;
      float left;
      height 50px;
      margin-right 5px;

body > footer
    font-size 12px
    font-style italic
    margin 10px 25px

.ticker
  float left;
  height 80px
  width 160px
  margin 15px
  text-align center
  color #000
  -webkit-transition background 150ms ease
  position relative
  border-radius 5px

  & span.symbol
    position absolute;
    top 2px;
    left 5px;
    font-size 1em;

  & span.price
    position absolute;
    top 28px;
    left 50px;
    font-size 1.6em;

  & span.change
    position absolute
    bottom 2px;
    left 5px;
    font-size 0.8em


&.up
  background-color rgba(22, 160, 123, 0.9)

&.down
  background-color rgba(229, 108, 105, 0.8)

  span.symbol,
  span.price
    color white

  span.change
    color white

